


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css");

:root {
  /* 1rem === 10px, but remain responsive to user font size settings */
  font-size: 62.5%;

}

body {
  font-family: "Montserrat", sans-serif;
  /* default font size is 16px */
  font-size: 1.6rem;
  background-color: #efefef;
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}